* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(44, 44, 44);
}

nav {
    -webkit-app-region: drag;
    width: 100vw;
    height: 40px;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-lien{
    -webkit-app-region: no-drag;
    padding: 9px;
    cursor: pointer;
    top: -1px;
    font-size: 1.3rem;
}

.nav-lien:hover {
    color: red;
    background-color:rgb(44, 44, 44);
}

.nav-liens{
    -webkit-app-region: no-drag;
    padding: 5px;
    cursor: pointer;
}

.nav-liens:hover {
    background-color: #222;
    color: black;
}

.load {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    align-items: center;
    width: 250px;
    animation: op3 5s;

}

.image_bas img {
    margin-top: 10px;
    width: 100px;
    height: 20px;
    animation: op 5s;

}

.charg {
    animation: op2 5s;
    margin-top: 100px;
}

.charg i{
    font-size: 50px;
}

@keyframes op {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    50% {
        opacity: 100%;
        margin-top: 10px;
    }
    
}

@keyframes op3 {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    40% {
        opacity: 100%;
        margin-top: 10px;
    }
}

@keyframes op2 {
    0% {
        opacity: 0;
        margin-top: 0;
    }

    30% {
        opacity: 50%;
    }

    40% {
        opacity: 100%;
        margin-top: 10px;
    }
}